<!doctype html>
<html>
  <head>
    <title>Repo observer</title>
  </head>
  <body>
    <h1>{{.Title}}</h1>

    <h2>Issues</h2>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Title</th>
      </tr>
    {{range .Issues}}
    <tr>
      <td>
        {{.Number}}
      </td>
      <td>
        {{.Title}}
      </td>
    </tr>
    {{end}}
    </table>

    <h2>Milestones</h2>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
      {{range .Milestones}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.Title}}</td>
        <td>{{.Description}}</td>
      </tr>
      {{end}}
    </table>

    <h2>Contributors</h2>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Contributions</th>
      </tr>
      {{range .Contributors}}
        <tr>
          <td>{{.ID}}</td>
          <td>{{.Login}}</td>
          <td>{{.Contributions}}</td>
        </tr>
      {{end}}
    </table>
  </body>
</html>
